<%- include("partials/header") %>
    <div class="table-container">
        <h2 class="todo-title">Delete Todo</h2>
        <a class="btn" href="/">Back</a>
        <div class="confirm">
            <p>
                Are you sure you want to delete this todo?
                <a class="btn" href="">YES</a>
                <a class="btn" href="">NO</a>
            </p>
        </div>
    </div>
<%- include("partials/footer") %>
