<%- include("partials/header") %>
    <div class="table-container">
        <h2 class="todo-title">Update Todo</h2>
        <div>
            <a class="btn" href="/">Back</a>
            <form action="" method="">
                <div class="update-todo">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" value="" placeholder="Type todo here"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" value="" placeholder="Type description here"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include("partials/footer") %>